{% extends "base.html.twig" %}

{% block javascripts %}
    <script language="JavaScript">
        $(document).ready(function () {
            $('form').ajaxForm(function (data) {
                $('#content').html(data);
            });

            $('form').submit();
        });
    </script>
{% endblock %}

{% block body %}
    {{ form_start(form) }}
        <p class="lead mb-4">
            {{ form_errors(form) }}
        </p>

        <div class="lead mb-4">
            <table>
                <tr>
                    <td>{{ form_row(form.fromDate) }}</td>
                    <td>{{ form_row(form.toDate) }}</td>
                </tr>
            </table>
        </div>

        <div class="lead mb-4">
            {{ form_row(form.submit) }}
        </div>
    {{ form_end(form) }}

    <div id="content"></div>
{% endblock %}